.container {
  width: 1000px;
  
}
.header {
  flex: 1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.images {
  flex: 1;
  display: flexbox;
  text-align: center;
}
img{
  margin: 10px;
}
.footer{
  flex: 1;
  margin-top: 300px;
  text-align: center;
  border-top: 1px solid rgb(207, 200, 200);
  color:  rgb(207, 200, 200);
  padding: 10px;
}